$color-background: #bfbfbf;
$color-amarillo: #EBA272;
$sombras: 0 0 20px rgba(0, 0, 0, 0.55);
$transicion-rapida: all 0.2s;
$transicion-media: all 0.8s;
$border-r: 10px;

@mixin italica-negrita{
    font-style: italic;
    font-weight: bold;
}

.torneos{
    display: flex;
    flex-flow: row wrap;

    margin-bottom: 30px;

    user-select: none;
    box-shadow: $sombras;

    .torneos-contenedor{
        background-color: black;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 25%;

        box-shadow: $sombras;

        .torneos-titulos{
            background-color: black;

            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            width: 70%;
            padding: 10px;
            margin-bottom: 15px;

            transition: $transicion-rapida;
            h3{
                font-size: 1.2rem;
                color: white;
                @include italica-negrita;
                transition: $transicion-rapida;
            }
            h3:hover{
                transition: $transicion-rapida;
                color: $color-amarillo;
            }
        }

        .torneos-rivales:hover{
            transition: $transicion-rapida;
            background-color: $color-amarillo;
        }
        .torneos-rivales{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 10px;
            margin: 10px;

            span{
                color: white;
                margin: 10px;
                @include italica-negrita;
            }

            img{
                transition: $transicion-media;
            }
            img:hover{
                transition: $transicion-media;
                transform: rotate(360deg);
            }
        }
    }

    .imagenes-torneos{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        width: 75%;

        img{
            margin: 15px;
            width: 410px;
            height: 250px;
            border-radius: $border-r;
            transition: $transicion-media;
        }
        img:hover{
            transition: $transicion-media;
            transform: scale(1.08,1.08);
        }
    }

    .posiciones{
        background-color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 25%;

        user-select: none;

        .posiciones-contenido{
            border-collapse: collapse;
            font-size: 1.1rem;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: $sombras;
            margin: 30px 0px 30px 0px;
        }

        thead tr{
            color: white;
            text-align: left;
        }

        th, td{
            padding: 12px 15px;
            text-align: center;
            color: white;
            transition: $transicion-media;
        }

        td:hover{
            transition: $transicion-media;
            transform: scale(1.5,1.5);
        }
    }

    .videos-torneos{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        width: 75%;

        iframe{
            margin: 15px;
            border-radius: $border-r;
            transition: $transicion-media;
        }
        iframe:hover{
            transition: $transicion-media;
            transform: scale(1.06,1.06);
        }
    }
}

/*MediaQueries Página Torneos*/
@media only screen and (max-width: 1698px){
    .torneos{
        .posiciones{
            background-color: black;
            width: 100%;
            margin-bottom: 20px;
            .posiciones-contenido{
                border: none;
            }

            thead tr{
                background-color: black;
                color: white;
                text-align: left;
            }

            th, td{
                padding: 12px 70px 15px 70px;
            }
        }

        .videos-torneos{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1360px){
    .torneos{
        .torneos-contenedor{
            width: 100%;
            margin-bottom: 20px;
            .torneos-titulos{
                width: 100%;
                background-color: $color-amarillo;
                margin-bottom: 0px;
            }
            .torneos-rivales{
                margin-top: 0px;
            }
        }
        
        .imagenes-torneos{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 660px){
    .torneos{
        .posiciones{
            th, td{
                padding: 12px 15px;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .torneos{
        .imagenes-torneos{
            img{
                width: 320px;
                height: 180px;
            }
        }

        .videos-torneos{
            iframe{
                width: 320px;
                height: 180px;
            }
        }
    }
}

@media only screen and (max-width: 390px){
    .torneos{
        .imagenes-torneos{
            img{
                width: 280px;
                height: 180px;
            }
        }

        .videos-torneos{
            iframe{
                width: 280px;
                height: 180px;
            }
        }
    }
}

@media only screen and (max-width: 390px){
    .torneos{
        .torneos-contenedor{
            .torneos-titulos{
                margin-bottom: 30px;
            }
            .torneos-rivales{
                width: 100%;
                padding-bottom: 50px;
                img{
                    width: 20%;
                }
            }
        }

        .posiciones{
            th, td{
                padding: 12px 5px;
            }
        }

        .imagenes-torneos{
            img{
                width: 220px;
                height: 150px;
            }
        }

        .videos-torneos{
            iframe{
                width: 220px;
                height: 150px;
            }
        }
    }
}